nav, .nav-container, .nav-brand-container {
    display: flex;
    align-items: center;
}

nav {
    align-items: center;
    justify-content: center;
    background-color: #2b2a29;
    color: #FFF;
}

#navbar {
    padding: 20px;
    width: 100%;
}

.nav-container {
    justify-content: space-between;
}

.nav-logo {
    width: 45px;
    margin-right: 5px;
}

.nav-brand {
    font-weight: 600;
    font-size: 1.5em;
    margin-right: 20px;
}

@media (min-width: 1200px) and (max-width: 1600px) {
    #navbar {
        width: 1280px;
        margin: 0 auto;
    } 
}

@media (min-width: 1600px) {
    #navbar {
        width: 1580px;
        margin: 0 auto;
    }
}