@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  background-color: black;
  font-family: 'Noto Sans', system-ui, --apple-system, sans-serif;
}

main {
  background-color: #FFF;
  padding-bottom: 2rem;
}

button {
  cursor: pointer;
}