@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  background-color: #9b9d9f;
  font-family: 'Noto Sans', system-ui, --apple-system, sans-serif;
}

a {
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.home-logo {
  width: 100px;
}

.home-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-color: #FFF;
  font-weight: 800;
}

.btn.shop-products {
  color: #FFF;
  background-color: orange;
}

.btn.shop-products:hover {
  background-color: darkorange;
}